/* colors -> https://coolors.co/e54b4b-ebebd3-464655-e4b363-e8e9eb */

@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

#stretch{
/* Will stretch to specified width/height */
  background-image:url(../img/slider3.jpg);
  background-size: 100% 100%;
  background-position:center;
  background-repeat:no-repeat;
}

@font-face {
    font-family: 'Quicksand';
    src: url(../fonts/Quicksand-Regular.ttf);
}

body {
  font-family: 'Quicksand', sans-serif;
}

.container {
  width: 95%;
  max-width: 1000px;
  margin: 0 auto;
}

a {
	color:	#000;
	text-decoration:none;
}

header {
  color: #000000;
  padding: 1em 0;
  position: relative;
}

header::after {
  content: '';
  clear: both;
  display: block;
}

.logo {
  float: left;
  font-size: 1rem;
  margin: 0;
  text-transform: uppercase;
  font-weight: 700;
}

.logo span {
  font-weight: 400;
}

.site-nav {
  position: absolute;
  top: 100%;
  right: 0%;
  background: #FFFFFF;
  -webkit-clip-path: circle(0px at top right);
          clip-path: circle(0px at top right);
  -webkit-transition: -webkit-clip-path ease-in-out 700ms;
  transition: -webkit-clip-path ease-in-out 700ms;
  transition: clip-path ease-in-out 700ms;
  transition: clip-path ease-in-out 700ms, -webkit-clip-path ease-in-out 700ms;
}

.site-nav--open {
  -webkit-clip-path: circle(150% at top right);
          clip-path: circle(150% at top right);
}

.site-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-nav li {
  border-bottom: 1px solid #575766;
}

.site-nav li:last-child {
  border-bottom: none;
}

.site-nav a {
  color: #000000;
  display: block;
  padding: 2em 4em 2em 1.5em;
  text-transform: uppercase;
  text-decoration: none;
}

.site-nav a:hover,
.site-nav a:focus {
  background: #999999;
  color: #0000FF;
}

.site-nav--icon {
  display: inline-block;
  font-size: 1.5em;
  margin-right: 1em;
  width: 1.1em;
  text-align: right;
  color: rgba(255,255,255,.4);
}

.menu-toggle {
  padding: 1em;
  position: absolute;
  top: .5em;
  right: .5em;
  cursor: pointer;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  content: '';
  display: block;
  background: #666666;
  height: 3px;
  width: 1.75em;
  border-radius: 3px;
  -webkit-transition: all ease-in-out 500ms;
  transition: all ease-in-out 500ms;
}

.hamburger::before {
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
}

.hamburger::after {
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}

.open .hamburger {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.open .hamburger::before {
  opacity: 0;
}

.open .hamburger::after {
  -webkit-transform: translateY(-3px) rotate(-90deg);
          transform: translateY(-3px) rotate(-90deg);
}

@media (min-width: 700px) {
  
  .menu-toggle {
    display: none;
  }
  
  .site-nav {
    height: auto;
    position: relative;
    background: transparent;
    float: right;
    -webkit-clip-path: initial;
            clip-path: initial;
  }
  
  .site-nav li {
    display: inline-block;
    border: none;
  }
  
  .site-nav a {
    padding: 0;
    margin-left: 3em;
  }
  
  .site-nav a:hover,
  .site-nav a:focus {
    background: transparent;
  }
  
  .site-nav--icon {
    display: none;
  }
  
}

input[type="text"], [type="password"]{
	font-family: 'Quicksand';
	width:300px;
	height:35px;
	border:1px solid #87e0e5;
	box-sizing:border-box;
	border-radius:2px;
	padding-left:10px;
	opacity:0.75;
}

textarea {
	font-family: 'Quicksand';
	width:300px;
	border:1px solid #87e0e5;
	box-sizing:border-box;
	border-radius:2px;
	padding-left:10px;
	opacity:0.75;
}

.ta {
	font-family: 'Quicksand';
	width:90%;
	border:1px solid #87e0e5;
	box-sizing:border-box;
	border-radius:2px;
	padding-left:10px;
	opacity:0.75;
}

input[type="text"], [type="password"], [type="search"]:focus {
	background-color: #FFF;
	opacity: 0.90;
	border: 1px solid #41e1ea;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    font-style:italic;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    font-style:italic;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    font-style:italic;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-style:italic;
}
::-ms-input-placeholder { /* Microsoft Edge */
    font-style:italic;
}
.text_cari {
	font-family: 'Quicksand';
	width:300px;
	border:1px solid #87e0e5;
	box-sizing:border-box;
	border-radius:2px;
	padding: 10px 0px 8px 40px;
	opacity:0.75;
}

.styled-select select {
   background: transparent;
   width: 100%;
   font-size: 16px;
   line-height: 1;
   border:1px solid #87e0e5;
   border-radius: 2px;
   height: 34px;
	-webkit-appearance: none;
	-moz-appearance: none;
   }
   
.styled-select {
   width: 100%;
   height: 34px;
   overflow: hidden;
   background: url(../img/drop_down.png) no-repeat #FFF;
   background-position:98%;
   border:1px solid #87e0e5;
   -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 0.5%;
    text-overflow: '';
   }
   
.pnl_login li {
	padding:15px;
	position:relative;
	background-color:#42f4ee;	
	color:#FFF;
}

.pnl_login li a {
	color:#000;
	text-decoration:none;
}

.pnl_login li:hover {
	background-color:#FFF;
	color:#000;
	border-right:4px solid #0F0;
}

li.current {
    border-right:4px solid #4985e5;
}